<img src="https://media1.fdncms.com/pittsburgh/imager/u/original/13289398/istock-1010169952.jpg" alt="microphone background image" class="welcome_background" />
<div class="welcome_container">
  <div class="text">
    <h1 class="welcome_message">Welcome to Laugh Tracks!</h1>
  </div>
  <section class="enter_link">
    <%= link_to "Enter Site", comedians_path %>
  </section>
</div>
  <footer class="info_box">
    <p>This is a solo project for
      The Turing School of Software and Design's
      Backend Engineering Module 2 program.</p>
    <p>Earl Stephens<br/>
       https://github.com/earl-stephens</p>
  </footer>
